<div class="dialog">
    <div class="dialog-toggle-row">
        <!-- <h3>{{ data.isNew ? 'Neue Arbeitszeit' : 'Arbeitszeit bearbeiten' }}</h3> -->
        <p-toggleswitch [(ngModel)]="isVisible" (onChange)="toggleVisibility($event.checked)" />
    </div>

    @if(isVisible){
    <p-floatlabel variant="on">
        <input pInputText id="event-title" [(ngModel)]="eventData.title" required  />
        <label for="event-title">Ereignisname</label>
    </p-floatlabel>

    <p-floatlabel  variant="on">
        <input pInputText id="event-selection" type="number" [(ngModel)]="eventData.selection" />
        <label for="event-selection">Deine Kasse</label>
    </p-floatlabel>

    <div class="radio-btn">
        @for (color of colors; track color) {
        <div class="radio-item">
            <p-radiobutton [value]="color.id" [(ngModel)]="eventData.backgroundColor" [inputId]="'color-' + color.id" />
            <label [for]="'color-' + color.id">
                <div class="color" [style.background-color]="color.value"></div>
            </label>
        </div>
        }
    </div>
    } @else {
    <div class="radio-btn" style="flex-direction: column;">
        @for (color of sortedColors(); track color) {
        @if(color.isActive){
        <div class="radio-item">
            <p-radiobutton [value]="color.id" [(ngModel)]="eventData.backgroundColor"
                [inputId]="'time-' + color.id" (onClick)="selectTime(color.label)" />
            <label [for]="'time-' + color.id">
                <div class="time-selector" [style.background-color]="color.value">
                    <span [appTimeFormat]="color.label"></span>
                </div>
            </label>
        </div>
        }
        }
    </div>
    }

    <div class="btn-container">
        <div>
            @if (!data.isNew) {
            <p-button label="Löschen" severity="danger" (onClick)="onDelete()" />
            }
        </div>
        <p-button [disabled]="isDisabled()" label="Speichern" severity="primary" (onClick)="onSave()" />
        <!-- <p-button label="Abbrechen" severity="secondary" [outlined]="true" (onClick)="onCancel()" /> -->
    </div>
</div>