html,
body {
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    touch-action: pan-y;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-primary);
}

.header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    justify-content: space-between;

    button {
        flex-shrink: 0;
    }
}

full-calendar {
    width: 100%;
    max-width: 100vw;
    height: 90%;
}

@media (max-width: 600px) {
    .header {
        justify-content: start;
        gap: 12px;
    }

    .fc-toolbar-title {
        font-size: 16px;
    }

    .fc-button {
        padding: 4px;
    }

    .fc-daygrid-day {
        min-height: 50px;
    }
}