<div class="dialog-content">
    <div class="checkbox-container">
        <p-checkbox [(ngModel)]="isActive" [binary]="true" inputId="isActiveCheck"/>
        <label for="isActiveCheck">Aktiv als Standardauswahl</label>
    </div>
    <p-floatlabel class="full-width" variant="on">
        <input pInputText id="label-name" [(ngModel)]="newLabel" placeholder="Z.B. Teambesprechung"
            maxlength="10" (keyup.enter)="onSave()" class="full-width" />
        <label for="label-name">Label Name</label>
    </p-floatlabel>
</div>
<div class="dialog-actions">
    <p-button label="Abbrechen" severity="secondary" [outlined]="true" (onClick)="onCancel()" />
    <p-button [disabled]="isDisabled()" label="Speichern" severity="primary" (onClick)="onSave()" />
</div>
