/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fc .fc-daygrid-day-number {
    color: black;
}

.fc-event-title {
    width: 100%;
    text-align: center;
    font-size: 14px;
    white-space: pre-wrap;
    color: black;
}

.fc-col-header-cell-cushion {
    color: black;
}

.fc-day-today {
    background-color: #e0e0e0 !important;
    /* Helles Orange */
}

.fc-event-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;

    small {
        font-size: 10px;
    }
}